{# Intercept GIF + gold star. Set brand_size: hero | nav | mid before including. #}
{% set sz = brand_size|default('hero') %}
<div class="lm-mark lm-mark--{{ sz }}" title="Air and missile defense">
    <picture>
        <source srcset="/static/images/lm_intercept.webp?v=1" type="image/webp">
        <img class="lm-mark-gif" src="/static/images/lm_intercept.gif?v=1" alt="" width="160" height="160">
    </picture>
    <img class="lm-mark-star" src="/static/images/lm_star_clear.png?v=1" alt="Lockheed Martin">
</div>
